[submodule "15-03-16-password-checker/asciidoctor-reveal.js"]
	path = 15-03-16-password-checker/asciidoctor-reveal.js
	url = https://github.com/asciidoctor/asciidoctor-reveal.js.git
[submodule "15-03-16-password-checker/reveal.js"]
	path = 15-03-16-password-checker/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "talks/two-years-of-montrehack/reveal.js"]
	path = talks/two-years-of-montrehack/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "talks/two-years-of-montrehack/asciidoctor-reveal.js"]
	path = talks/two-years-of-montrehack/asciidoctor-reveal.js
	url = https://github.com/obilodeau/asciidoctor-reveal.js.git
	branch = nsec-talk-fork
